.booklist,
.book-details {
  padding: 3rem 0;
  background-color: #fbeee6;
}
.booklist-content {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
  /* overflow: hidden; */
}
.booklist-content.grid #main-content {
  height: 75vh;
  width: 25vw;
  margin-bottom: 17%;
}
.book-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5vh;
  margin: 13vh auto;
}
/* Scroll bar styling */

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fbeee6;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #fbeee6;
  border-radius: 10px;
}

#indivisual-book {
  border: solid black 2px;
}
.book-item {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  border-radius: 4px;
  width: 19vw;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
}

.book-item:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.book-item-img img {
  width: 210px;
  height: 35vh;
  align-items: center;
}
.book-item-info {
  margin-top: 2rem;
}
.book-item-info-item.title {
  line-height: 1.4;
  margin-bottom: 0.8rem;
}
.book-item-info-item.author {
  line-height: 1.4;
  margin-bottom: 4px;
}
.book-item-info-item:not(.book-item-info-item.title) span:last-child {
  opacity: 0.8;
}
.book-item-info-item.publish-year {
  opacity: 0.6;
  font-style: italic;
  font-size: 14px;
}

/* Filter options CSS */

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}

.cart-button {
  background-color: black;
  color: white;
  padding: 1.5vh;
  border-radius: 10vh;
  width: 10vw;
}

.container {
  display: flex;
  flex-direction: column;
}

.filter-section {
  width: 100%;
  background-color: #fbeee6;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
  padding: 5vh;
}

@media screen and (max-width: 992px) {
  .booklist-content {
    flex-direction: column;
    margin-left: 10%;
  }
  #main-content {
    height: 70vh;
    width: 70vw;
  }
  .book-item {
    width: 40vw;
  }
  .book-item-img {
    width: 50vw;
    padding: 12%;
  }
  img {
    width: 50vw;
    margin-right: 5%;
  }
  .book-list {
    grid-template-columns: auto;
    gap: 5vh;
    margin: 13vh auto;
  }
  .book-item-img img {
    margin-left: 25%;
    /* margin-left: auto; */
    width: 175px;
    height: 35vh;
    align-content: center;
    justify-content: center;
  }
  .cart-button {
    width: 25vw;
    margin: 5%;
  }
}
@media screen and (max-width: 662px) {
  .book-item {
    width: 70vw;
  }
  .book-item-img img {
    margin: auto;
    width: 170px;
    height: 30vh;
  }
  .cart-button {
    width: 40vw;
    margin: 5%;
  }
}
